#email {
  padding: 50px;
  margin-top: 50px;
  width: 500px;
  border: 2px solid #ccc;
  box-sizing: border-box;
}

#confidential,
#top-secret {
  display: inline-block;
  padding: 10px;
  margin-left: 20px;
  border: 1px solid #aaa;
}

#confidential {
  transform: rotate(-5deg);
}

#top-secret {
  transform: rotate(5deg);
}

p {
  margin-top: 20px;
}

.blurred {
  filter: blur(3px);
}
